@import url(https://fonts.googleapis.com/css?family=Open+Sans|Sanchez:400italic,400);

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
  background-color: white;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #444;
  font-size: 16px;
}

h1 {
    font-size: 1.1em;
    margin-bottom: 1em;
}

ul, p {
    margin: 1em 0;
}

a, a:visited {
    color: rgb(99, 157, 182);
  text-decoration: none;
  -webkit-transition:color 0.3s ease-in;  
  -moz-transition:color 0.3s ease-in;  
  -o-transition:color 0.3s ease-in;  
  transition:color 0.3s ease-in;  
}

a:hover, a:visited:hover {
  color: #222222;
  text-decoration: underline;

}

table {
    font-size: inherit;
    font: 100%;
}

table {
    border-collapse: collapse;
    border-style: hidden;
}

table td, table th {
    border: 1px solid black;
    padding: 5px;
}

blockquote {
    margin-left:1em;
}

blockquote p {
    font-style: italic;
}
blockquote{
    display:block;
    background: #fff;
    padding: 15px 20px 15px 45px;
    margin: 0 0 20px;
    position: relative;

    /*
    border-left: 10px solid #ab3027;
    border-right: 2px solid #ab3027;

    -moz-box-shadow: 2px 2px 15px #ccc;
    -webkit-box-shadow: 2px 2px 15px #ccc;
    box-shadow: 2px 2px 15px #ccc;
    */
}

blockquote::before{
    content: "\201C"; /*Unicode for Left Double Quote*/

    /*Font*/
    font-size: 60px;
    font-weight: bold;
    color: #999;

    /*Positioning*/
    position: absolute;
    left: 10px;
    top:5px;
}

blockquote::after{
    /*Reset to make sure*/
    content: "";
}

blockquote a{
    text-decoration: none;
    background: #eee;
    cursor: pointer;
    padding: 0 3px;
    color: #c76c0c;
}

blockquote a:hover{
    color: #666;
}

blockquote em{
    font-style: italic;
}

.site {
    max-width: 750px;
    margin: 0em auto 0em auto;
    padding: 0em 0.5em 0 0.5em;
}

.header {
    background-color: #1f1f1f;
    padding: 1em 0em 0.5em 0em;
    color: #000000;
}

.header .site .title a {
    color: #ffffff;
    line-height: 1.3em;
}
.header .site .title a:hover, .header .site .title a:visited:hover {
    color: #dddddd;
}

h1, h2, h3, h4, h5, h6, .comments {
    text-align: left;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 1.1em;
    font-weight: 400;
    margin-top: 1em;
    color: rgb(171, 48, 39);
    font-family: 'Sanchez', sans-serif;
}

h1 {
  font-size: 1.4em;
}

div.site h1:first-child {
  font-size: 1.8em;
}

.title {
    color: #369;
}

.site .title a {
    color: rgb(14, 24, 33);
    text-decoration: none;
    font-family: 'Sanchez', sans-serif;
    display: block;
    font-size: 2em;
    margin-bottom: 0.1em;
}

.site .title a:hover {
    color: #222222;
}

.site .meta {
    color: #aaa;
}

.site .footer {
    display: block;
    font-size: 1em;
    color: #666;
    border-top: 4px solid #eee;
    margin-top: 2em;
    overflow: hidden;
}

.site .footer .contact {
    float: left;
    margin-right: 3em;
}

div.icons a {
    font-size: 2em;
    color: #1f1f1f;
    margin: 2px;
}

div.icons p a:hover {
    color: #1f1f1f;
    text-decoration: none;
}

.site .footer .contact a,
.site .footer .rss a {
    color: #8085C1;
    color: rgb(99, 157, 182);
}

.site .footer .rss {
    margin-top: 1.1em;
    margin-right: 0em;
    float: right;
}

ul {
    list-style-type: square;
}

div.home ul {
    margin-bottom: 2em;
    margin-left: 10px;
    padding-left: 10px;
}
ul.posts {
}

ul.posts li {
    line-height: 1.75em;
    border-bottom: 1px solid #eee;
}

ul.posts span {
    color: #aaa;
}

ul.posts a {
    text-align: left;
}

ul.posts li span.date {
    float: right;
}

#post {
    line-height: 1.4em;
}

ul li {
    margin-bottom: 2px;
}
#post pre {
    padding: 0 .4em;
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap !important;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

#post ul,
#post ol {
    margin-left: 1.35em;
}

pre, code {
  font-family: 'Ubuntu Mono', monospace;
  line-height: 1.4em;
  letter-spacing: -0.05em;
}

#post pre.terminal {
    border: 1px solid black;
    background-color: #333;
    color: white;
}

#post pre.terminal code {
    background-color: #333;
}

#related {
    margin-top: 2em;
}

#related h2 {
    margin-bottom: 1em;
}

small {
  margin-top: 0px;
  margin-bottom: 5px;
  font-style: italic;
  color: #444444;
}


div.block1, div.block2, div.block3 {
  width: 1em;
  height: 0.5em;
  display: inline-block;
}

div.block1 {
    background-color: rgb(14, 24, 33);
}

div.block2 {
  background-color: rgb(171, 48, 39);
}

div.block3 {
    background-color: rgb(99, 157, 182);
}

div.home a {
  color: rgb(14, 24, 33);
}

div#profile_picture {
    float: right;
    margin-top: -50px;
    display: inline-block;
    width: 250px;
    height: 250px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    background: url(https://farm6.staticflickr.com/5548/9201039525_26644cf490.jpg) no-repeat;
    background-position: center;
}

@media screen and (max-width: 550px) {
    ul.posts li span.date {
        display: none;
    }
}

@media screen and (max-device-width: 700px) {
    ul.posts li span.date {
        display: block;
        font-size: 1.5em;
    }
    .site {
        width: auto;
        max-width: 100%;
        padding: 1em;
    }
    .site .title {
    }

    * {
        font-size: 20px;
    }
}

.highlight .lineno { color: #ccc; 
    display:inline-block; 
    padding: 0 5px;
    border-right:1px solid #ccc; 
}

.highlight pre code {
    display: block;
}

div.highlight {
  margin: 0px 10px 0px 10px;
}
