@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono|Sanchez:400italic,400);

/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
}

body {
	background-color: white;
  font-family: "Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #333;
}

h1 {
	font-size: 110%;
	margin-bottom: 1em;
}

p {
	margin: 1em 0;
}

a, a:visited {
	color: rgb(99, 157, 182);
  text-decoration: none;
  -webkit-transition:color 0.3s ease-in;  
  -moz-transition:color 0.3s ease-in;  
  -o-transition:color 0.3s ease-in;  
  transition:color 0.3s ease-in;  
}

a:hover, a:visited:hover {
	color: #111111;
  text-decoration: underline;

}

/*
a:visited {
	color: rgb(149, 161, 168);
}
*/

table {
	font-size: inherit;
	font: 100%;
}

blockquote {
	margin-left:1em;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
	font-size: 110%;
	text-align: justify;
	width: 700px;
	margin: 3em auto 2em auto;
	line-height: 1.3em;
}

h1, h2, h3, h4, h5, h6, .comments {
	text-align: left;
}

h1, h2, h3, h4, h5, h6 {
	font-size: 120%;
  font-weight: 400;
	margin-top: 1em;
  color: rgb(171, 48, 39);
  font-family: 'Sanchez', sans-serif;
}

h1 {
  font-size: 130%;
}

div#post h1:first-child {
  font-size: 150%;
}

.title {
	color: #369;
	margin-bottom: 2em;
}

.site .title a {
	color: rgb(14, 24, 33);
	text-decoration: none;
  font-family: 'Sanchez', sans-serif;
  display: block;
  font-size: 120%;
  margin-bottom: -5px;
}

.site .title a:hover {
	color: black;
}

.site .meta {
	color: #aaa;
}

.site .footer {
	font-size: 80%;
	color: #666;
	border-top: 4px solid #eee;
	margin-top: 2em;
	overflow: hidden;
}

.site .footer .contact {
	float: left;
	margin-right: 3em;
}

.site .footer .contact a,
.site .footer .rss a {
	color: #8085C1;
	color: rgb(99, 157, 182);
}

.site .footer .rss {
	margin-top: 1.1em;
	margin-right: 0em;
	float: right;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

ul.posts {
	list-style-type: none;
	margin-bottom: 2em;
  margin-left: 0px;
}

ul.posts li {
	line-height: 1.75em;
}

ul.posts span {
	color: #aaa;
	font-size: 80%;
}

ul.posts a {
	text-align: left;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

#post {

}

  /* standard */

#post pre {
	border: 1px solid #ddd;
	background-color: #eef;
	padding: 0 .4em;
	overflow-x: auto;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap !important;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
}

#post ul,
#post ol {
	margin-left: 1.35em;
}

#post code {
	font-size: 85%;
  padding: 0px;
  line-height: 1em;
  text-align: left;
}

#post pre {
	border: 1px solid #ddd;
}

pre, code {
  font-family: 'Ubuntu Mono', monospace;
}

  /* terminal */

#post pre.terminal {
	border: 1px solid black;
	background-color: #333;
	color: white;
}

#post pre.terminal code {
	background-color: #333;
}

#related {
	margin-top: 2em;
}

#related h2 {
	margin-bottom: 1em;
}

small {
  margin-top: 0px;
  margin-bottom: 5px;
  font-style: italic;
  color: #444444;
}


div.block1, div.block2, div.block3 {
  width: 20px;
  height: 5px;
  display: inline-block;
}

div.block1 {
	background-color: rgb(14, 24, 33);
}

div.block2 {
  background-color: rgb(171, 48, 39);
}

div.block3 {
	background-color: rgb(99, 157, 182);
}

ul {
  list-style-type: square;
  margin-left: 20px;
}

div.home a {
  color: rgb(14, 24, 33);
}

