<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-gb">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>{{ page.title }}</title>
	<meta name="author" content="Johannes Gilger" />
	<link href="http://feeds.feedburner.com/rogchap" rel="alternate" title="Johannes Gilger" type="application/atom+xml" />
	<link rel="stylesheet" href="/css/syntax.css" type="text/css" media="all" />
	<link rel="stylesheet" href="/css/screen.css" type="text/css" media="all" />
  <!--
	<link rel="stylesheet" href="/css/tablet.css" type="text/css" media="screen and (min-width:651px) and (max-width: 1024px), screen and (min-device-width: 768px) and (max-device-width: 1024px)" />
	<link rel="stylesheet" href="/css/mobile.css" type="text/css" media="handheld, screen and (max-width: 650px), screen and (max-device-width: 480px)" />
  -->
	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-4155555-8']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>
</head>
<body>
	<div class="site">
		<div class="title"><a href="/">Johannes Gilger<br/>heipei</a></div>
		{{ content }}
		<div class="footer">
			<div class="contact">
				<p>
					Johannes Gilger<br/>
          IT-Security Researcher<br/>
          &#104;&#101;&#105;&#112;&#101;&#105;&#64;&#104;&#97;&#99;&#107;&#118;&#97;&#108;&#117;&#101;&#46;&#100;&#101;
				</p>
			</div>
			<div class="contact">
				<p>
					<a href="http://github.com/heipei/">github.com/heipei</a><br />
					<a href="http://twitter.com/heipei/">twitter.com/heipei</a><br />
					<a href="http://www.linkedin.com/pub/johannes-gilger/35/932/9b9">LinkedIn</a>
				</p>
			</div>
		 	<div class="rss">
				<a href="http://feeds.feedburner.com/rogchap">RSS Feed</a>
			</div>
		</div>
	</div>
</body>
<html>
